html, body {
  
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 1.0s;
  padding-top: 60px;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration:none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.8s;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.sidenav .closer{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main{
  transition: margin-left 1.0s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
html {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #13140F;
}
.parallax {
  background-image: url("FrankJ-4932x.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}
.parallax2 {
  background-image: url("FrankJ-4965x.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  
}
.gallery {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
  height: 400px;
  width: auto;
}
h1 {
   color: Red;
   font-family: 'Brush Script MT';
   text-align: center;
   font-size: 180px;
   margin-top: 200px;
}

h5 {
   font-family: 'Aclonica';
   text-align: center;
   color: Blue;
   font-size: 40px;
}
p {
   text-align: center;  
   font-family: 'Aclonica';
   font-size: 20px;
   color: Blue;
}
.Contact {
   font-family: 'Aclonica';
   text-align: center;
   font-size: 10px;
   color: Black;
}
